@use "variables.scss";

.header {
  position: fixed;
  padding: 8px;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #333e4c;
  color: white;
  box-shadow: variables.$box-shadow;

  .header-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    transition: color 0.3s ease;
  }
}
