$top-movies-color-1: #3498db;
$top-movies-color-2: #2980b9;

$upcoming-movies-color-1: #2ecc71;
$upcoming-movies-color-2: #27ae60;

$popular-movies-color-1: #f39c12;
$popular-movies-color-2: #f1c40f;

$color-red-1: #e74c3c;
$color-red-2: #c0392b;
