.wishlist {
  display: flex;
  flex-direction: column;
  background-color: #333;
  border-radius: 8px;
  padding: 16px;
  gap: 16px;

  h2 {
    margin-bottom: 16px;
    font-size: 24px;
    color: #fff;
  }

  li {
    border-bottom: 1px solid #444;
    padding-bottom: 8px;
  }

  p {
    color: #aaa;
  }
}
