@use "variables.scss";
@use "main.scss";

.wishlist {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @extend .card;

  h2 {
    margin-bottom: 16px;
    font-size: 24px;
    color: #fff;
  }

  li {
    border-bottom: 1px solid #444;
    padding-bottom: 8px;
  }

  p {
    color: #aaa;
    margin: 0;
  }
  button {
    align-self: flex-start;
  }
}
